* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --nav-bar-border: #161819;
    --tab-border: #24292e;
    --bg-menu: #1f2425;
    --tabs-bar: #1f2425;
    --nav-white: #fff;
    --text-main: #ffffffbf;
    --title-main: #ffffffed;
    --title-text-darker: #efefefbc;
    --sidebar-active: #efefef;
    --sidebar-inactive: rgb(106, 115, 125);
    --bg-main: #1c2024;
    --explorer-bg: #1f2428;
    --explorer-border: #161a1d;
    --tab-bg: #1f2428;
    --tab-bg: #1f2428;
    --tab-bg-hover: #1c2024;
    --explorer-tab-bg-hover: #24292e;
    --tab-hover-border: #ffdc00;
    --tab-hover-button: #e8cf2acf;
    --code-text-yellow: #fcea74;
    --code-text-blue: #5ac1ff;
    --code-text-red: #c98f66;
    --line-number: #808080;
    --code-text-punc: #efefef;
    --alert-color: #e00101;
}

.html {
    border: 0.1rem solid #c6350d;
}

.css {
    border: 0.1rem solid #3246fa;
}

.javascript {
    border: 0.1rem solid #ede907;
}

.react {
    border: 0.1rem solid #029aff;
}

.node {
    border: 0.1rem solid #22a151;
}

.solidity {
    border: 0.1rem solid #71d69b;
}

.ethereum {
    border: 0.1rem solid #3848ad;
}

.sass {
    border: 0.1rem solid #c256bb;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
    color: var(--title-main);
}

h3 {
    font-size: 1.2em;
    line-height: 1.8rem;
    color: var(--title-main);
}

h5 {
    color: var(--title-main);
}

.hide {
    visibility: hidden;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

textarea {
    resize: none;
}

.window-nav-bar {
    background: var(--bg-menu);
    height: 33px;
    padding: 0 0.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nav-white);
    font-size: 0.80rem;
    border-bottom: 1px solid var(--nav-bar-border);
    font-family: Source Sans Pro, sans-serif;
}

.vscode-logo-container {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: 15px;
    height: 15px;
    background: none;
    opacity: 1;
    position: relative;
    max-width: 100%;
}

.icon-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;

}

.window-menu {
    flex: 1 1;
    display: flex;
    margin-right: auto;
    margin-left: 0.5rem;
}

.window-menu>* {
    padding: 0 0.5rem;
    cursor: pointer;
}

.window-title {
    flex: 1 1;
    text-align: center;
}

.window-controls {
    flex: 1 1;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.window-controls>* {
    width: 15px;
    height: 15px;
    margin-left: 0.5rem;
    padding: 0 0.2rem;
    cursor: pointer;
    filter: invert(99%) sepia(0%) saturate(5913%) hue-rotate(290deg) brightness(121%) contrast(87%);
}

/* main content */

.main-content-container {
    width: 100%;
}

.main-container {
    display: flex;
    background: var(--bg-main);
}

.side-bar {
    background: var(--bg-main);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 4.5vw;
    min-width: 50px;
    max-width: 60px;
    height: calc(100vh - 33px);
}


.sidebar-icon-container {
    margin-top: 0.5rem;
    cursor: pointer;
    width: 100%;
}

.sidebar-icon.active {
    fill: var(--sidebar-active);
}

.sidebar-icon {
    height: 48px;
    width: 48px;
    padding: 0.55rem 0;
    display: block;
    margin: 0 auto;
}

.sidebar-icon:hover {
    fill: var(--sidebar-active);
}

.explorer-title {
    padding: 0.5rem 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 1px;
    margin-bottom: 0.75rem;
    color: var(--title-text-darker);
}

.explorer-bar {
    background: var(--explorer-bg);
    width: 18vw;
    max-width: 235px;
    color: var(--nav-white);
    font-family: Source Sans Pro, sans-serif;
    border-right: 1px solid var(--explorer-border);
}

.explorer-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    padding: 0 0.2rem;
}

.explorer-heading-container {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

.explorer-list {
    padding: 0.5rem 0;
    cursor: pointer;
}

.explorer-list-item {
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.explorer-list-item:hover {
    background: var(--explorer-tab-bg-hover);
}

.explorer-list-item p {
    margin-left: 7px;
}

.explorer-icon-container,
.tabs-icon-container {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: 18px;
    height: 18px;
    background: none;
    opacity: 1;
    position: relative;
    max-width: 100%;
}

.skills-icon-container {
    align-self: center;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: 80px;
    height: 80px;
    background: none;
    opacity: 1;
    position: relative;
    max-width: 100%;
    align-items: center;
}

.tabs-bar {
    display: flex;
    background: var(--tab-bg);
    overflow-x: auto;
    flex-wrap: wrap;
}

.tab-item {
    padding: 0.5rem 1.25rem;
    background: var(--tab-bg);
    color: var(--nav-white);
    display: flex;
    align-items: center;
    font-family: Source Sans Pro, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    border-right: 1px solid var(--tab-border);
}

.tab-item:hover {
    background: var(--tab-bg-hover);
}

.tab-item.active {
    background: var(--tab-bg-hover);
    border-top: 1px solid var(--tab-hover-border);
}

.explorer-list-item.active {
    background: var(--explorer-tab-bg-hover);
}

.tab-item p {
    margin-left: 5px;
}

.layout-content-container {
    padding: 0 3rem;
    color: var(--text-main);
    font-family: JetBrains Mono, monospace;
    flex: 1 1;
    height: 93vh;
    overflow-y: auto;
}

.layout-content {
    display: flex;
    justify-content: space-between;
}

.gif-container {
    margin-top: 6rem;
    margin-right: 9%;
    max-width: 700px;
    width: 35%;
    flex-wrap: wrap;
    min-width: 580px;
}

.highlight {
    text-decoration: underline;
    text-decoration-color: #ffdc00;
}

.homepage-name-title span {
    color: var(--tab-hover-border)
}

[data-tab-content] {
    display: none;
}


.active[data-tab-content] {
    display: block;
}

.homepage-name-title {
    color: var(--title-main);
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.homepage-job-title {
    color: var(--title-main);
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-bottom: 4rem;
}

.home-title-container {
    padding-top: 5rem;
}

.layout-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.home-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.8rem;
    margin-right: 1.5rem;
    background-color: transparent;
    border: 2px solid var(--tab-hover-border);
    color: var(--sidebar-active);
    box-shadow: 14px 14px 15px var(--explorer-border);
}

.home-button:hover {
    background-color: var(--tab-hover-button);
    border: 2px solid transparent;
    color: black;
    box-shadow: 14px 14px var(--explorer-border);
}

.home-about {
    margin-top: 5rem;
    margin-right: 5rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
    max-width: 800px;
    min-width: 630px;
}

.css-info-block {
    flex: 1 1;
    font-size: 1.2rem;
    line-height: 1.8rem;
    counter-reset: line;
    margin: 50px 0;
    max-width: 700px;
}

.css-info-block h2 {
    text-align: center;
}

.css-line::before {
    content: counter(line);
    counter-increment: line;
    margin-right: 1rem;
    color: var(--line-number);
}

.class-name {
    color: var(--code-text-yellow)
}

.punct {
    color: var(--code-text-punc)
}

.property {
    color: var(--code-text-blue)
}

.value {
    color: var(--code-text-red)
}

.css-line a {
    text-decoration: none;
    color: var(--code-text-red);
}

.skills-block {
    flex: 1 1;
    font-size: 1.2rem;
    line-height: 1.8rem;
    counter-reset: line;
    margin: 50px 0;
    text-align: center;
    max-width: 750px;
    min-width: 650px;
}

.skills-card {
    margin-bottom: 3rem;
}

.skills-card h3 {
    text-decoration: underline;
}

.about-wrapper {
    display: flex;
}

.technical-list {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 7rem;
}

.technical-list-item {
    display: flex;
    flex-direction: column;
}

.css-line a:hover {
    font-weight: 600;

}

.alert-message {
    color: var(--alert-color);
    font-size: 1rem;
    display: none;
}

.projects-banner {
    margin-top: 50px;
}

.projects-banner p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.here-link a {
    font-size: 1.65rem;
    color: var(--code-text-blue);
}

.here-link a:hover {
    text-decoration: underline;
    color: var(--code-text-red)
}

.project-cards-container {
    display: grid;
    margin: 2rem 0;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 2.3rem;
    gap: 2.3rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    box-shadow: 14px 14px 15px var(--explorer-border);
    background-color: var(--bg-menu);
}

.project-image-container img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.project-card-content h3 {
    margin-bottom: 1rem;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 2rem;
    width: 100%;


}

.stack-list {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}

.links-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}

.links-list span {
    fill: var(--sidebar-active);
    margin: 0.5rem 1rem 0 0;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
}

.stack-list span {
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
}


.links-icon-container {
    box-sizing: border-box;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: none;
    opacity: 1;
    position: relative;
    max-width: 100%;
    align-items: center;
}

.form-wrapper {
    margin-top: 1.7em;
}

#contactForm {
    max-width: 900px;
    padding: 1.5rem;
    box-shadow: 0 0 15px var(--explorer-border);
}

input,
textarea {
    line-height: 1.8rem;
    margin-top: 0.5em;
    background-color: #0000002b;
    border: none;
    color: var(--code-text-punc);
    font-family: JetBrains Mono, monospace;
    font-size: 1rem;
    padding: 0.75rem;
    margin-bottom: 0.75em;
    width: 100%;
}

#form-button {
    padding: 0 3rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: JetBrains Mono, monospace;

    background-color: transparent;
    border: 2px solid var(--tab-hover-border);
    color: var(--sidebar-active);
    box-shadow: 14px 14px 15px var(--explorer-border);
}

#form-button:hover {
    background-color: var(--tab-hover-button);
    border: 2px solid transparent;
    color: black;
    box-shadow: 14px 14px var(--explorer-border);
}

#button-container-center {
    display: flex;
    justify-content: center;
    padding: 1em;
    padding-bottom: 0.2em;
}

#email-popup-container {
    display: none;
    justify-content: center;
    padding: 1em;
    padding-bottom: 0.2em;
}

.popup {
    padding: 0 2.7rem;
    border: 2px solid rgb(11, 169, 32);
    text-align: center;
}

/* media */

@media only screen and (max-width: 1800px) {
    .skills-block {
        margin-right: 0px;
    }

    .project-card-content {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1600px) {
    .technical-list-item {
        margin-bottom: 1rem;
    }

    .technical-list {
        flex-wrap: wrap;
        padding: 1.5rem 2.3rem;
    }

    .skills-block {
        min-width: 400px;
        max-width: 400px;
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .gif-container {
        width: 42.5%;
        margin-top: 6rem;
        min-width: 400px;

    }

    .home-about {
        margin-right: 2rem;
    }
}


@media only screen and (max-width: 1400px) {


    .about-wrapper .css-info-block {
        margin-left: -5em;
    }

    .skills-block {
        min-width: 400px;
        max-width: 400px;
    }


    .gif-container {
        display: none;

    }

    .home-title-container {
        padding-top: 2rem;
        padding-left: 1rem;
    }

    .about-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .skills-block {
        max-width: 750px;
        min-width: 650px;
    }

}


@media only screen and (max-width: 930px) {

    .skills-block {
        min-width: 400px;
        max-width: 400px;
    }

    .window-menu {
        display: none;
    }

    .home-about {
        min-width: auto;
    }

    .window-title {
        flex: 4 1;
        margin-left: 10%;
    }

    .sidebar-icon {
        height: 40px;
        width: 40px;
        padding: 0.5rem 0;
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 840px) {

    .explorer-bar {
        display: none;
    }
}

@media only screen and (max-width: 650px) {

    .about-wrapper .css-info-block {
        margin-left: 0;
    }

    .css-line::before {
        display: none;
    }

    #shift-left {
        margin-left: -6px;
    }

    .layout-content-container {
        padding: 1.5rem;
        height: 88.4vh;
    }

    .css-info-block {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .skills-card {
        margin-bottom: 0rem;
    }

    .tabs-bar {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .home-title-container {
        padding-top: 1rem;
        padding-left: 0rem;
    }

    .tab-item {
        font-size: 1.2rem;
    }

    .side-bar {
        display: none;
    }

    .homepage-name-title {
        font-size: 2.5rem;
    }

    .homepage-job-title {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .home-button {
        font-size: 1.2rem;
    }

    .home-about {
        margin-top: 4rem;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 530px) {
    .technical-list {
        padding: 1.5rem 3.3rem;
    }

    .css-info-block {
        font-size: 0.95rem;
    }
}